* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* ---------------------------------------------------------------- */
body{
    height: 100%;
    background-color: #171717;
    color: white;

}

html {
  scroll-behavior: smooth;
}
/* ---------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
/* content body */
main{
    color: black;
    background: #171717; 

    min-height: 800px;
    width: 100vw;

    display: flex;

    flex-direction: column;

    justify-content: space-between; 
    align-items: center;  


}


.content-area1{
    display: flex; /*     flex-wrap: wrap;  */
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


    background-color: rgb(121, 69, 69);
    height: 800px;
    width: 100vw;

}

.content-area2{
    display: flex; /*     flex-wrap: wrap;  */
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


    background-color: rgb(108, 53, 53);
    height: 800px;
    width: 100vw;

}

.content-area3{
    display: flex; /*     flex-wrap: wrap;  */
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


    background-color: rgb(85, 71, 71);
    height: 800px;
    width: 100vw;

}

.content-area4{
    display: flex; /*     flex-wrap: wrap;  */
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


    background-color: rgb(213, 17, 17);
    height: 800px;
    width: 100vw;

}








/* ---------------------------------------------------------------- */
/* Video area */
.intro-video-area{
    position: static;
    width: 100vw;
    height:max-content;
}

.intro-video{
    position:static;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;


}

/* navigation Area */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.4s ease;
    z-index: 10;
}

.navbar.transparent {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.4s ease;
}

.navbar.solid {
    background-color: rgb(0, 0, 0);
    transition: background-color 0.4s ease;
}

.pic-nav{
    height: 180px;
    width: auto;
    padding: 20px 0px 20px 30px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 80px 30px;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 3px;
}

.nav-links a:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 3px;


}


.nav-links li .actual-active{
    border-bottom: 3px solid #ffffff;   

}

.small-nav{
    display: none;
}

.nav-links-2{
    display: none;
}

@media (max-width: 768px) {
    .navbar{
        display: none;
    }

    .small-nav{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        height: 90px;
        width: 100%;
        z-index: 10;
    }

    .nav-links-2{

        list-style: none;
        display: flex;
        gap: 20px;
        padding: 10px 20px;

        position: fixed;
        top: 3%;
        left: 80%;
        height: 90px;
        width: 100%;
    }


    .nav-links-2 a{
        color: white;
        padding: 5px;
        text-decoration: none;
        font-size: 24px;
        padding: 3px;
    }

    .nav-links-2 a:hover {
        color: rgb(140, 84, 84);



    }


    .small-nav.transparent {
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.4s ease;
    }

    .small-nav.solid {
        background-color: rgb(0, 0, 0);
        transition: background-color 0.4s ease;
    }
    
    /* Toggle Button */
    #toggle-btn {
        position: fixed;
        top: 2%;
        left: 2%;
        background: #22222200;
        color: white;
        padding: 10px;
        cursor: pointer;
        z-index: 1001;
        border-radius: 0 8px 8px 0;
        font-size: 30px;
    }

    #toggle-btn:hover {
        color: rgb(140, 84, 84);
    }

    /* Right Nav - hidden by default */
    #right-nav {
        position: fixed;
        top: 650px;
        left: -1000px;
        transform: translateY(-50%);
        background: #000000;
        padding: 10px;
        border-radius: 8px 8px 0 0;
        transition: right 0.3s;

        display: flex;
        flex-direction: column;
        width: 100%;
        height: 700px;
        justify-content: start;

        margin-top: 40px;
    }
    #options{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #bottom-options{
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-bottom: 40px;
    }

    #right-nav a {
        display: block;
        color: rgb(255, 255, 255);
        font-size: 24px;
        margin: 10px 10px;
        text-decoration: none;
    }

    #right-nav a:hover{
        color: black;
        background-color: white;
        border-radius: 10px;

    }

    #right-nav.show {
        left: 0px; /* slide into view */

    }

    #toggle-btn.hidden {
        display: none;
    }

    .pic-small-nav{
        position: fixed;
        top: 2%;
        left: 45%;

        height: 60px;
        width: 60px;
    }

}



/* ---------------------------------------------------------------- */
.wrapper {
   /* background-color: rebeccapurple; /*beige */ 
    color: white;
    height:fit-content;
    
}
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Whatsapp icon */
.socialmedia {
    list-style: none;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 30px;
    display: grid;
    place-items: center;

    padding: 5px;
    border-radius: 10px;
    background-color: green;


    position: fixed; /* relative,static,absolute,fixed,sticky */
    left: 90%;
    top: 80%;

    
}

@media (max-width: 768px) {
    .socialmedia{
        position: fixed; /* relative,static,absolute,fixed,sticky */
        left: 80%;
        top: 90%;
    }
}




.socialmedia a{
    color: aliceblue;
}


.socialmedia a:hover{
    color: black;
}
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* footer area !!! */
footer {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;

    position: static;
    left: 0%;
    top: 0%;

    height: auto;
    width: 100vw;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    
    gap: 20px; /*use this only when you apply new cells */

    border-radius:  40px;


}

@media (max-width: 768px) {
    footer{
        display:flex;
        flex-direction: column;
        align-items: center;
        
    }


}

.footer-left{
    height: 600px;
    width: 400px;
    display: flex; /* start, center, end */
    flex-direction: column;
    grid-template-rows: auto;
    justify-content: center;
    padding-left: 50px;

}





.pic-footer{

    height: 300px;
    width: 300px;
    padding: 20px;
    justify-items: center;
    align-items: center;


}

.text{
    justify-content: center;
    padding: 10px;
}


.socialmedia-footer{

    list-style: none;
    width: 350px;
    height: 40px;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;

}

.socialmedia-footer a{
    color: aliceblue;
    padding:10px;

}

.socialmedia-footer a:hover{
    color: blue;
}
/* ---------------------------------------------------------------- */

/*line*/
.line-area{
    display: flex;
    grid-row: span 3;
    width: 30px;
    height: auto;
    justify-content: center;
    align-items: center;
}
.line{

    width: 2px;
    height: 400px;
    background-color: #171717;

}
/* ---------------------------------------------------------------- */
.quick-navigation-area{
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.quick-navigation{
    display: flex;
    height: 200px;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    align-items: start;
    font-size: 20px;
    padding-top: 20px;

}

.quick-navigation a{
    color: white;
    text-decoration: none;
}

/* when screen size decrease below 768px*/
.quick-nav-options-1{
    display: flex;
    flex-direction: column;
    height: 80px;
    align-items: center;
}

.quick-nav-options{
    background-color: #000000;
    color: white;
    font-size: 30px;
    margin: 10px;
    height: 35px;
    width: 100%;

}
/* ---------------------------------------------------------------- */
.main-categories-area{
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.main-categories{
    display: flex;
    height: 200px;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    align-items: start;
    font-size: 20px;
    padding-top: 20px;

}

.main-categories a{
    color: white;
    text-decoration: none;
}
/* ---------------------------------------------------------------- */




/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
.bottom-signature{
    display: flex;
    height: 80px;
    width: 100%;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: #171717;
    padding-left: 30px;
}

.bottom-signature a {
    color: white;
    text-decoration: none;
}

.bottom-signature a:hover{
    color: rgb(130, 66, 66);
    font-size: 30px;
}
/* ---------------------------------------------------------------- */
/* -----------------------THIS IS FOR MOBILE !!!!-------------------------------- */

/*
@media (max-width: 768px) {
    main{
        min-height: 500px;
    }

    .content-area1{
        width: 200px;
    }
}

*/


